################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlossomWebApi/.vs
/BlossomWebApi/bin/Debug/net8.0
/BlossomWebApi/obj
